body {
	font-family : arial, helvetica, sans-serif;
	color : black;
	background-color : white;
}

td {
	font-family : arial, helvetica, sans-serif;
}

th {
	font-family : arial, helvetica, sans-serif;
}

li {
	font-family : arial, helvetica, sans-serif;
}
