<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <section name="applicationSettings" type="BugTrapServer.ApplicationSettingsHandler"/>
  </configSections>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" urlLinePragmas="true">
      <assemblies>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off"/>
    <!--
          By default ASP.NET uses cookies to identify which
          requests belong to a particular session. If cookies
          are not available, a session can be tracked by adding
          a session identifier to the URL. To disable cookies,
          set sessionState cookieless="true".
    -->
    <sessionState mode="Off" cookieless="true"/>
    <!--
         Configures the level of code access security (CAS)
         that is applied to an application. Use this element,
         if you want to run a Web application that has less
         than Full trust.
    -->    
    <securityPolicy>
      <trustLevel name="BugTrapWebTrust" policyFile="BugTrapWebTrust.config" />
    </securityPolicy>
    <trust level="BugTrapWebTrust"/>
  </system.web>
  <applicationSettings>
    <logEvents>true</logEvents>
    <reportPath>reports</reportPath>
    <reportName>error_report_%n</reportName>
    <reportsLimit>-1</reportsLimit>
    <maxReportSize>-1</maxReportSize>
    <smtpHost></smtpHost>
    <smtpPort>25</smtpPort>
	<smtpSSL>true</smtpSSL>
    <smtpUser></smtpUser>
    <smtpPassword></smtpPassword>
    <senderAddress></senderAddress>
    <reportFileExtensions>log,xml,zip</reportFileExtensions>
    <applicationList>
    <!--
      <application>FirstApp</application>
      <application version="1.2">SecondApp</application>
    -->
    </applicationList>
  </applicationSettings>
</configuration>
