<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="applicationSettings" type="BugTrapServer.ApplicationSettingsHandler, BugTrapServer"/>
  </configSections>
  <applicationSettings>
    <logEvents>true</logEvents>
    <serverPort>9999</serverPort>
    <reportPath>c:\reports</reportPath>
    <reportName>error_report_%n</reportName>
    <reportsLimit>-1</reportsLimit>
    <maxReportSize>-1</maxReportSize>
    <smtpHost>smtp.server.address</smtpHost>
    <!--<smtpPort>25</smtpPort>-->
    <smtpSSL>true</smtpSSL>
    <smtpUser>username</smtpUser>
    <smtpPassword>password</smtpPassword>
    <senderAddress>sender@email.com</senderAddress>
    <reportFileExtensions>log,xml,zip</reportFileExtensions>
    <applicationList>
    <!--
      <application>FirstApp</application>
      <application version="1.2">SecondApp</application>
    -->
    </applicationList>
  </applicationSettings>
</configuration>
